/* src/aihack/cli/session.css */

#content-log {
    layout: vertical;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    padding: 0 1;
    border: round blue;
    width: 100%;
    height: 1fr;
}

#input-container {
    dock: bottom;
    height: 3;
    padding: 0 1;
    align: center middle;
}

#prompt-icon {
    height: 1;
    width: 2;
    content-align: center middle;
}

#command-input {
    width: 1fr;
    height: 100%;
    border: none;
    background: transparent;
}

#command-input:focus {
    border: none;
}
